---
import Nav from "../components/Nav.astro";
import Photop from "../components/Photop.astro";
import About from "../components/About.astro";
import Tecnologies from "../components/Tecnologies.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
---

<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio | Gian </title>
  </head>
  <body class="bg-black">
    <Nav />
    <Photop/>
    <About />
    <Tecnologies />
    <Projects />
    <Experience />
  </body>
</html>
