<div class="container mx-auto">
  <h1 class="text-white font-bold text-3xl text-center pt-12">
    ¿Qué tal? A continuación una pequeña vista a mis proyectos
  </h1>
  <div class="grid grid-cols-2 gap-4 mx-auto my-8">
    <div
      class="relative w-80 h-96 overflow-hidden mx-auto group transition-transform transform-gpu hover:scale-105 rounded-lg duration-300 delay-100"
    >
      <img src="213shots_so.jpg" alt="" class="w-full h-full" />
      <div
        class="absolute inset-0 flex flex-col items-end justify-between opacity-0 transition-opacity group-hover:opacity-100 bg-black bg-opacity-70 rounded-lg cursor-pointer p-4 duration-300 delay-200"
      >
        <h2 class="text-white font-bold text-2xl text-center rounded-lg">
          Talent Forgers
        </h2>
        <p class="text-gray-300 mt-2 font-bold">
          Este es un proyecto en grupo que hicimos durante la formacion, aqui
          puedes ver un poco del responsive
        </p>
        <div class="mt-2 flex items-center">
          <a
            href="https://github.com/Giankrp"
            target="_blank"
            class="text-gray-300 hover:text-white font-bold"
          >
            <img
              src="github-mark.png"
              alt=""
              class="h-12 w-12 rounded-full hover:scale-125 transition delay-100 duration-300"
            />
          </a>
          <span class="text-gray-300 mx-2">|</span>
          <a
            href="https://deploy-front-end-theta.vercel.app/"
            class="text-gray-300 hover:text-white font-bold"
          >
            <i
              class="h-12 w-12 rounded-full hover:scale-125 transition delay-100 duration-300"
              >Deploy</i
            >
          </a>
        </div>
      </div>
    </div>

    <div
      class="relative w-9/12 h-96 overflow-hidden mx-auto group transition-transform transform-gpu hover:scale-105 rounded-lg duration-300 delay-100"
    >
      <img src="si.png" alt="" class="w-full h-full" />
      <div
        class="absolute inset-0 flex flex-col items-end justify-between opacity-0 transition-opacity group-hover:opacity-100 bg-black bg-opacity-70 rounded-lg cursor-pointer p-4 duration-300 delay-200"
      >
        <h2 class="text-white font-bold text-2xl text-center rounded-lg">
          Go-mux
        </h2>
        <p class="text-gray-300 mt-2 font-bold">
          Este es un back hecho con go, con ayuda del enrutador de gorilla mux,
          base de datos PostgreSQL, el orm GORM y contenedores de docker, el
          back es un crud completo hecho para ser 100% escalable
        </p>
        <div class="mt-2 flex items-center">
          <a
            href="https://github.com/Giankrp/firstBackGo"
            target="_blank"
            class="text-gray-300 hover:text-white font-bold"
          >
            <img
              src="github-mark.png"
              alt=""
              class="h-12 w-12 rounded-full hover:scale-125 transition delay-100 duration-300"
            />
          </a>
          <span class="text-gray-300 mx-2">|</span>
          <a
            href="https://github.com/Giankrp/firstBackGo"
            class="text-gray-300 hover:text-white font-bold"
          >
            <i
              class="h-12 w-12 rounded-full hover:scale-125 transition delay-100 duration-300"
              >Deploy</i
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
